$small : 0.9rem;
$medium : 1rem;
$large : 2rem;

$font : "Poppins",
sans-serif;
$maincolor : #D00317;
$subHeaderColor: #7f7f7f;

$margins :0px 0px 0 0px;

$marginsNav : 20px 200px 20px 200px;



@mixin respond-to($device) {

  @if $device =="phonexs" {
    @media (max-width: 490px) {
      @content;
    }
  }

  @else if $device =="tablet" {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $device =="desktop" {
    @media (min-width: 1040px) {
      @content;
    }
  }
}
