@import "@/app/styles/styling.module.scss";


.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 20px 0 20px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 15px;
  padding: 15px;

}


.carouselImage {
  width: calc(33.33%);
  object-fit: cover;
  height: auto;
}

.buttonDiv {
  display: flex;

  gap: 20px ;
  .carouselButton {
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(190, 190, 190);
    font-weight: bold;
    font-family: $font;
  }:hover {
    color: black;
    transition: all 1s;
  }


}

@media (max-width: 1439px) {

  .carouselContainer {}

  .carousel {}

  .imageContainer {}

  .carouselImage {}

  .carouselButton {}
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Optional slide-up effect */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel {
  animation: fadeIn 1s ease-out forwards;
}