@import "@/app/styles/styling.module.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


    >div img {
        object-fit: cover;
    }

    .portrait {
        display: flex;
        gap: 10px;
  
    }

    .portrait2 {
        display: flex;
        gap: 10px;

    }

    .couples {
        display: flex;
        gap: 10px;
    }

    .cars1 {
        display: flex;
        gap: 10px;
    }

    .cars2 {
             display: flex;
             gap: 10px;
    }
}