@import "@/app/styles/styling.module.scss";

.mainFooterContainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-style: $font;
  gap: 30px;
  width: 100%;
  max-width: 1400px;

  p {
    color: $subHeaderColor;
    margin: 0px 0px 10px 0px;
    font-size: $small;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: $small;
  }

  .Links {
    display: flex;
    justify-content: space-between;

    .socialLinks {
      display: flex;
      gap: 20px;

      img {
        transition: transform 0.3s ease, filter 0.3s ease;

        &:hover {
          cursor: pointer;
          transform: scale(1.5);
          /* Scale up the icon on hover */
          filter: brightness(1.5);
          /* Brighten the icon on hover */
        }
      }
    }

    .quickLinks {
      display: flex;
      gap: 20px;

      p {
        color: $subHeaderColor;

        font-size: $small;
      }
    }
  }

  .copyright {
    display: none;
  }
}

@media (max-width: 540px) {
  .mainFooterContainer {
    p {
      margin: 0px 0px 10px 0px;
      font-size: 0.8rem
    }

    a {

      font-size: 0.8rem
    }

    .Links {
      display: flex;
      flex-direction: column;

      .socialLinks {
        display: flex;
        gap: 20px;

        img {
          transition: transform 0.3s ease, filter 0.3s ease;

          &:hover {
            cursor: pointer;
            transform: scale(1.5);
            /* Scale up the icon on hover */
            filter: brightness(1.5);
            /* Brighten the icon on hover */
          }
        }
      }

      .quickLinks {
        display: none;
      }
    }

    .copyright {
      display: block;
      text-align: center;

      p {
        color: rgb(158, 158, 158);
      }

    }
  }
}