@import "@/app/styles/styling.module.scss";

.navcontainer {
  display: flex;
  width: auto;
  margin: 15px;
  flex-direction: column;
  

  .nav_sub_container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 1400px;
    padding: 10px 0px 10px 0px;


    .navleft2 {
      display: none;
    }

    .navleft,
    .navright {
      display: flex;
      align-items: center;
      color: white;
      font-family: $font;
      font-size: $small;
      font-weight: 500;
      cursor: pointer;
      gap: 2rem;
      justify-content: center;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: $maincolor;
          transition: all 0.4s ease-in-out;
        }
      }
    } 

    .socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 130px;

      .socialLinks {
        position: relative;

        .socialshover {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: opacity 0.5s ease-in-out;
        }

        &:hover .socialshover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .navlinks {
      display: none;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      transition: opacity 0.3s ease;

      a {
        text-decoration: none;
        color: white;
        font-size: $small;

        &:hover {
          color: $maincolor;
        }
      }
    }

    .hamburger {
      display: none;

      .lines {
        div {
          width: 25px;
          height: 3px;
          background-color: white;
          margin: 7px;
          transition: all 0.3s ease;
        }
      }

      &.open {
        transform: rotate(45deg);

        div:nth-child(1) {
          transform: rotate(-45deg) translate(-1px, 6px);
        }

        div:nth-child(2) {
          opacity: 0;
        }

        div:nth-child(3) {
          transform: rotate(45deg) translate(-8px, -13px);
        }
      }
    }

    .navright {
      @media (max-width: 700px) {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
      }

      &.show {
        @media (max-width: 700px) {
          max-height: 100vh;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navcontainer {
    .nav_sub_container {
      align-items: center;

      .navleft {
        display: none;
      }

      .navleft2 {
        display: flex;
        z-index: 1;
      }

      .hamburger {
        display: flex;
        
      }

      .navright {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        max-height: 0;
        overflow: hidden;

        >a {
          padding-left: 30px;
        }

        .socials {
          padding-left: 30px;
        }

        &.show {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: #FF5B37;
          max-height: 100vh;
          opacity: 1;
          visibility: visible;
          transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0s;
         
        }

        a {
          font-size: 1.5rem;
        }
      }

      .navlinks {
        display: flex;
        gap: 4rem;
        padding-left: 30px;
      }
    }
  }
}