@import "@/app/styles/styling.module.scss";


.aboutMainContainer {
    font-family: $font;
    display: flex;
    width: auto;
    margin: 15px;

    .aboutMainContainer2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin: 20px 0 20px 0;


        img {
            object-fit: cover;
            width: 100%;
        }

        .aboutMeInfo {

            .imageContainer {
                img {
                    display: none;
                }
            }

            h1 {
                font-size: 2.5rem;
                margin: 0;
            }

            img {
                display: none;
            }

            p {
                color: $subHeaderColor;
                font-size: 1rem;
                font-weight: 400;
                line-height: 215%;
                margin: 20px 0px 20px 0px;
            }

            a {
                span {
                    color: $maincolor
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 20px
            }

        }
    }
}



@media (max-width: 1040px) {
    .aboutMainContainer {
        .aboutMainContainer2 {
            .aboutMeInfo {
                h1 {
                    font-size: 2rem;
                }

                p {
                    text-align: justify;
                    font-size: 1rem;

                    line-height: 215%;
                }

                a {
                    span {
                        color: $maincolor
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .aboutMainContainer {
        .aboutMainContainer2 {
            img {
                display: none
            }

            .aboutMeInfo {

                .imageContainer {
                    img {
                        display: inline;
                        width: 100%;
                    }
                }

                h1 {
                    font-size: 2.3rem;
                }



                p {
                    font-size: 1rem;

                    line-height: 215%;
                }

                a {
                    span {
                        color: $maincolor
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px
                }

            }
        }
    }
}




@media (max-width: 490px) {
    .aboutMainContainer {
        .aboutMainContainer2 {
            img {
                display: none
            }

            .aboutMeInfo {
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    text-align: justify;
                    font-size: 0.9rem;
                    line-height: 215%;
                }

                a {
                    span {
                        color: $maincolor
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.9rem;
                }
            }
        }
    }
}


@media (max-width: 330px) {
    .aboutMainContainer {
        .aboutMainContainer2 {
            .aboutMeInfo {
                h1 {
                    font-size: 1.4rem;
                }

                p {
                    color: #575757;
                  
                    line-height: 215%;
                }
            }
        }
    }
}