@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

* body {
  background-color: #242322;
  margin: 0;
  box-sizing: border-box;
}