@import "@/app/styles/styling.module.scss";


.MainContainer {
  display: flex;
  flex-direction: column;

  .MainContainer2 {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    text-align: center;
    font-family: $font;

    .Submaincon2 {
      display: flex;
      flex-direction: column;
      align-self: center;
      max-width: 1200px;
      margin: 0 15px;
      align-items: center;
      gap: 10px;

      br {
        display: none
      }



      a {
        display: inline-block;
        text-align: center;
        border-radius: 3px;
        background-color: #D00317;
        width: 192px;
        height: 38px;
        line-height: 38px;
        color: white;
        text-decoration: none;
        font-size: 0.8rem
      }

      h1 {
        font-size: 4rem;
        margin-bottom: 0;
        font-weight: 450;
        color:white ;
      }

      p {
        font-size: 1rem;
        font-weight: 450;
        color: #ffffff;
      }

      span {
        color: $maincolor;
      }
    }
  }

  .contentContainer {
    align-self: center;
    max-width: 1440px;
  }
}


@media (max-width: 741px) {
  .MainContainer {
    .MainContainer2 {
   

      .Submaincon2 {
        h1 {
          font-size: 3.5rem
        }
      }
    }
  }
}

@media (max-width: 652px) {
  .MainContainer {
    .MainContainer2 {
      .Submaincon2 {
      h1 {
        font-size: 3rem
      }
      }
    }
  }
}

@media (max-width: 563px) {
  .MainContainer {
    .MainContainer2 {
      
      .Submaincon2 {
    h1 {
      font-size: 2.6rem
    }
      }
    }
  }
}



@media (max-width: 491px) {
  .MainContainer {
    .MainContainer2 {
      text-align: left;

      .Submaincon2 {
        br {
          display: inline-block;
        }
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        max-width: 1200px;
        margin: 0 15px;
        align-items: flex-start;

        h1 {
          font-size: 3rem
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}


@media (max-width: 301px) {
  .MainContainer {
    .MainContainer2 {
      .Submaincon2 {
        h1 {
          font-size: 2.7rem;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional slide-up effect */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.MainContainer2 {
  animation: fadeIn 1s ease-out forwards; /* Animation properties */
}