@import "@/app/styles/styling.module.scss";


.mainFormContainer {
  display: flex;
  flex-direction: row;
  font-family: $font;
  align-items: center;
  justify-content: center;
 padding: 15px;
  gap: 20px;
  width: 1440;


  .formText {
    width: 100%;
    padding-bottom: 80px;

    p {
      color: #797979;
    }


  }

  .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;


    @mixin sharedInputStyle($bgImage) {
      background-image: url($bgImage);
      background-repeat: no-repeat;
      background-position: 3% center;
      padding-left: 6%;
      height: 40px;
      outline: none;
      border: 1px solid #C8C8C8;
      border-radius: 7px;
      width: 100%;
      font-family: $font
    }

    .input1 {
      @include sharedInputStyle('/nameIcon.svg')
    }

    .input2 {
      @include sharedInputStyle('/email.svg');
    }

    .input3 {
      @include sharedInputStyle('/phone.svg');
    }

    .inputDiv {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    textarea {
      box-sizing: border-box;
      display: flex;
      padding: 0.5rem;
      color: rgb(0, 0, 0);
      font-family: $font;
      font-size: $small;
      border-style: 2px solid;
      resize: none;
      height: 200px;
      width: 100%;
      border: 1px solid #C8C8C8;
      border-radius: 7px;

      &:focus {
        outline: none;
      }
    }

    .checkboxContainer {
      color: $subHeaderColor;
      font-size: 0.9rem;
    }

    .buttonDiv {
      display: flex;
      justify-content: end;

      Button {
        width: 120px;
        height: 40px;
        border-radius: 3px;
        background: $maincolor;
        border: none;
        color: white;
        font-family: $font;
      }
    }
  }
}


@media (max-width: 1020px) {
  .mainFormContainer {
    display: flex;
    flex-direction: column;
    font-family: $font;
    align-items: center;
    justify-content: center;

    gap: 20px;

    .formText {
      width: 100%;
      padding-bottom: 0px;
    }

  }
}


@media (max-width: 490px) {
  .mainFormContainer {
    display: flex;
    flex-direction: column;
    font-family: $font;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .formText {
      width: 100%;
      padding-bottom: 0px;

      p {
        font-size: 0.9rem;
      }

      h1 {
        font-size: 1.5rem;
      }
    }

    .formContainer {
      gap: 10px;

      input {
        font-size: 12px;
      }
      @mixin sharedInputStyle {
        background-size: 13px;
        padding-left: 8%;
        

      }
      .input1 {
        @include sharedInputStyle;
      }
  
      .input2 {
        @include sharedInputStyle;
      }
  
      .input3 {
        @include sharedInputStyle;
      }

  
      .checkboxContainer {
        font-size: 0.8rem;
      }
    }
  }
}