@import "@/app/styles/styling.module.scss";


.mainFormContainer {
  display: flex;
  flex-direction: column;

  .formContainer {
    display: flex;
    flex-direction: column;
    background-color: #272626;
    width: 100%;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);


    .formHeader {
      align-self: center;
      align-items: center;
      color: white;
      width: calc(100% - 25px);
      max-width: 800px;


      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      p {
        font-weight: 200;
      }

      span {
        color: $maincolor;
      }
    }

    .formInputs {
      align-self: center;
      align-items: center;
      color: white;
      width: calc(100% - 9px);
      max-width: 800px;

      .inputContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;


        input {
          padding: 0.5rem;
          background-color: #3B3B3B;
          color: white;
          font-family: $font;
          font-size: $small;
          border-style: none;
          width: 100%;
          margin: 7px 7px;
          height: 25px;

          &:focus {
            outline: none;
          }
        }


      }

      .textAreaContainer {
        box-sizing: border-box;
        display: flex;


        textarea {
          padding: 0.5rem;
          background-color: #3B3B3B;
          color: white;
          font-family: $font;
          font-size: $small;
          border-style: none;
          resize: none;
          height: 200px;
          width: 100%;
          margin: 7px 7px;

          &:focus {
            outline: none;
          }
        }
      }



      .agreeBox {
        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 0.5rem;
        color: white;
        width: calc(100% - 9px);
        text-align: justify;


        input {
          width: 25px;
          height: 25px;
        }

        input[type="checkbox"]:checked {
          accent-color: $maincolor;
        }

        label {
          color: rgb(167, 167, 167);
          font-size: 0.8rem;
          font-family: $font;
        }
      }

      .buttonDiv {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        width: calc(100% - 9px);



        button {
          width: 100px;
          height: 35px;
          padding: 0.5rem;
          background-color: $maincolor;
          color: white;
          border: none;
          font-family: $font;
          font-size: $small;
          border-style: none;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
        }

        :hover {
          scale: 1.01;
          background-color: #ff4217;
        }


      }

    }

  }
}




@media (max-width: 918px) {
  .mainFormContainer {
    .formContainer {
      .formHeader {
        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .formInputs {
        .inputContainer {
          input {
            font-size: 0.8rem;
          }
        }

        .textAreaContainer {
          textarea {
            font-size: 0.8rem;
          }
        }

        .agreeBox {

          label {
            font-size: 0.7rem;
          }
        }

        .buttonDiv {
          button {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}


@media (max-width: 603px) {
  .mainFormContainer {
    .formContainer {
      .formHeader {
        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .formInputs {
        .inputContainer {
          input {
            font-size: 0.8rem;
            margin: 4px 4px;
          }
        }

        .textAreaContainer {
          textarea {
            font-size: 0.8rem;
            margin: 4px 4px;
          }
        }
      }
    }
  }
}


@media (max-width: 352px) {
  .mainFormContainer {
    .formContainer {
      .formHeader {
        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}